.ge-chrext-tooltip {display:none; position:absolute; z-index: 9999;font-family: helvetica neue,arial;font-size: 1em;}
.ge-chrext-tooltip .arrow {bottom: -8px; left: 0; position: absolute; width: 100%; z-index: 20}
.ge-chrext-tooltip .arrow img {margin:0 10px}
.ge-chrext-tooltip .arrow.center {text-align: center}
.ge-chrext-tooltip .arrow.left {text-align: left}
.ge-chrext-tooltip .arrow.right {text-align: right}
.ge-chrext-tooltip .background {background-color:#000; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; height:100%; left:0; opacity:0.05; filter: alpha(opacity=5); -moz-opacity: 0.05; position:absolute; top:0; width:100%; z-index:0}
.ge-chrext-tooltip .content {background-color: #fff; border: 1px solid #ddd; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size: 11px; margin: 5px; padding: 8px; position: relative; text-align: center; white-space: nowrap; z-index: 10}

