body {
   height:170px;
  min-width:300px;
  width:300px;
  overflow-x:hidden;
  margin: 0;
}

table {
    empty-cells:show;
}

.lines {
    text-align:center;
    display:block;
    float:none;
}

.line {
    padding-bottom: 2px;
}

.line tr {
    height:1px;
}
.line .end {
    width:2px;
    background-color:"#cecece";
}
.line .trans {
    width:2px;
    background-color:"#d7d7d7";
}
.line .mid {
    background-color:"#e5e5e5";
}

#ge-chrext-topo {
    display:block;
    padding-top: 10px;
    height: 30px;
    text-align: center;
}

#ge-chrext-carrossel {
    display:block;
    padding-top: 7px;
    border-bottom: 2px solid #e4e4e4;
}

.ge-chrext-info-jogo {
    color: #555;
    font-family: Georgia, serif;
    font-style: italic;
    padding-bottom:7px;
}

.ge-chrext-info-jogo .ge-chrext-data {
    width:100%;    
    text-align: center;
    font-size: 1.125em;
}

.ge-chrext-info-jogo .ge-chrext-campeonato {
    width:100%;
    margin-top: -2px;
    text-align: center;
    font-size: 0.8em;
}
.ge-chrext-placar {
    height: 77px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(234,234,234)),
        color-stop(0.5, rgb(253,253,253))
    );
    border-bottom: 1px solid #c4c4c4;
}

.ge-chrext-placar .placar {
    float: left;
}

.ge-chrext-placar-mand, .ge-chrext-mandante {
    text-align: right;
}
.ge-chrext-mandante, .ge-chrext-visitante {
    width: 80px;
    padding-top: 10px;
}
.ge-chrext-placar-vis, .ge-chrext-visitante {
    text-align: left;
}
.ge-chrext-placar-vis, .ge-chrext-placar-mand {
    width: 35px;
    padding-top: 18px;
    font-family: helvetica neue,arial;
    font-weight: lighter;
    font-size: 2.25em;
}
.ge-chrext-versus {
    padding: 25px 25px;
    width: 20px;
    text-align:center; 
}
.ge-chrext-mandante .ge-chrext-escudo {
    float:right;
}
.ge-chrext-visitante .ge-chrext-escudo {
    float:left;
}
.ge-chrext-tooltip {
    display: none;
    position: absolute;
    z-index: 9999;
}

img {
  border:0px none;
  vertical-align:middle;
}


